/* .container {
 
} */
.container .item {
  width: 100px;
  height: 100px;
  background-color: tomato;
  margin-bottom: 20px;
  padding: 20px;
  border: 4px solid blue; /*선의 두께, 선의 모양, 선의 색*/
  box-sizing: border-box; /*내부 여백과 테두리 선으로 인한 변경을 방지하고 싶을 때 사용*/
}
.container .item:nth-child(2) {
  box-shadow: 10px 20px 10px rgba(0,0,0,.3); /*가로, 세로, 흐림의 정도, 색상을 받아 그림자 생성  rgba(r, g, b, 불투명도)*/
}
.container .item:nth-child(3) {
  opacity: 0.5;/*붙투명도*/
}
